*.iml
.gradle
/local.properties
gradle.properties.local
app/libs/
mobile/libi996-sources.jar
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
mobileclient-sources.jar
mobileclient.aar
app/src/main/assets/
.idea/kotlinc.xml